/* The General style starts here */
html {
  scroll-behavior: smooth; }

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  animation: opening 1s ease-in; }

a {
  text-decoration: none;
  color: #222; }

li {
  list-style: none; }

/* The General style ends here */
@keyframes opening {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes plantentrance {
  from {
    transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg); }
  to {
    transform: translateY(0) rotateZ(0deg) rotateX(0deg); } }

@keyframes plantshake {
  from {
    transform: rotateZ(-5deg); }
  to {
    transform: rotateZ(0deg); } }

.header {
  z-index: 2;
  position: relative; }

.nav {
  height: 10vh;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 5rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1); }
  @media screen and (max-width: 700px) {
    .nav {
      flex-direction: column;
      padding: 2rem 5rem; } }
  .nav__logo {
    font-family: "Great Vibes", cursive;
    font-size: 2rem;
    font-weight: 600;
    margin: 0; }
  .nav__list {
    display: flex;
    align-items: center; }
  .nav__items {
    margin-right: 1.8rem;
    font-size: 1.2rem;
    font-family: "Frank Ruhl Libre", serif;
    font-weight: 500; }

.hero {
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden; }
  @media screen and (max-width: 1024px) {
    .hero {
      height: auto;
      flex-direction: column;
      align-items: center; } }
  .hero__text--content {
    width: 60%;
    text-align: center;
    padding: 7rem 0; }
    @media screen and (max-width: 1024px) {
      .hero__text--content {
        width: 100%;
        padding: 3rem 0; } }
  .hero__title {
    font-size: 2.5rem;
    font-family: "Frank Ruhl Libre", serif;
    font-weight: 500;
    margin-bottom: 0; }
  .hero__desc {
    width: 70%;
    font-size: 1.1rem;
    line-height: 1.5;
    margin: 1rem auto 2rem auto;
    font-family: "Frank Ruhl Libre", serif;
    font-weight: 300;
    color: grey; }
  .hero__link {
    font-size: 1.2rem;
    border: 2px solid #222;
    padding: 0.5rem 4rem; }
  .hero__image--content {
    width: 40%;
    background-color: #dad7dc;
    position: relative;
    z-index: 1; }
    @media screen and (max-width: 1024px) {
      .hero__image--content {
        width: 100%; } }
  .hero__image {
    width: 100%;
    height: 100%;
    object-fit: cover; }
    @media screen and (max-width: 1024px) {
      .hero__image {
        margin-bottom: -0.5rem; } }
  .hero__plant {
    position: absolute;
    left: -15%;
    bottom: 0;
    z-index: -1;
    transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
    animation: plantentrance 1.5s ease-in-out 0.5s forwards, plantshake 2.5s infinite ease alternate-reverse 2s;
    transform-origin: bottom;
    max-height: 80%; }
  .hero__plant2 {
    left: 40%; }

.about {
  display: flex;
  flex-wrap: wrap; }
  @media screen and (max-width: 1024px) {
    .about {
      flex-direction: column;
      align-items: center; } }
  .about__image--container {
    width: 40%;
    position: relative; }
    @media screen and (max-width: 1024px) {
      .about__image--container {
        width: 100%; } }
  .about__image--title {
    position: absolute;
    left: 33%;
    top: 18%;
    font-family: "Frank Ruhl Libre", serif;
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 0.5rem; }
    @media screen and (max-width: 1024px) {
      .about__image--title {
        left: 40%;
        font-size: 1.8rem; } }
    @media screen and (max-width: 700px) {
      .about__image--title {
        left: 30%;
        top: 15%;
        font-size: 1.5rem; } }
  .about__image {
    width: 100%;
    height: 100%;
    object-fit: cover; }
    @media screen and (max-width: 1024px) {
      .about__image {
        margin-bottom: -0.5rem; } }
  .about__text--container {
    width: 60%;
    background-color: #414141;
    color: white; }
    @media screen and (max-width: 1024px) {
      .about__text--container {
        width: 100%; } }
  .about__text--title {
    text-align: center;
    font-family: "Great Vibes", cursive;
    font-size: 2.5rem;
    font-weight: 400;
    padding: 2rem 0 0 0;
    margin-bottom: 0; }
  .about__list--container {
    padding: 1rem 4rem; }
    @media screen and (max-width: 1024px) {
      .about__list--container {
        padding: 1rem 3rem; } }
  .about__list--title {
    font-family: "Frank Ruhl Libre", serif;
    font-weight: 500; }
  .about__list--desc {
    width: 90%;
    line-height: 1.5;
    font-family: "Frank Ruhl Libre", serif;
    font-weight: 300; }
    @media screen and (max-width: 1024px) {
      .about__list--desc {
        width: 100%; } }

.gallary {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  .gallary__image {
    width: 100%;
    height: 100%;
    object-fit: cover; }
    @media screen and (max-width: 700px) {
      .gallary__image {
        grid-row: auto;
        grid-column: auto;
        width: 100%;
        height: 100%; } }
  .gallary__1 {
    grid-column: 1/3; }
  .gallary__2 {
    grid-column: 3/4;
    grid-row: 1/3; }

.contact {
  height: 90vh;
  display: flex;
  flex-wrap: wrap; }
  @media screen and (max-width: 700px) {
    .contact {
      height: 85vh; } }
  .contact__text--container {
    background-color: white;
    width: 60%;
    height: 100%;
    position: relative; }
    @media screen and (max-width: 1024px) {
      .contact__text--container {
        width: 100%; } }
  .contact__text {
    position: absolute;
    left: 30%;
    top: 20%; }
    @media screen and (max-width: 1024px) {
      .contact__text {
        left: 35%;
        top: 20%; } }
    @media screen and (max-width: 700px) {
      .contact__text {
        left: 15%;
        top: 20%; } }
  .contact__title {
    font-size: 2.5rem;
    font-family: "Frank Ruhl Libre", serif;
    font-weight: 500;
    margin-bottom: 0;
    padding: 0 2rem; }
  .contact span {
    font-size: 4.5rem;
    color: #906272; }
  .contact__form {
    display: flex;
    flex-direction: column; }
  .contact__label {
    margin: 1rem 0;
    font-size: 1rem;
    font-family: "Frank Ruhl Libre", serif; }
  .contact__input {
    padding: 0.5rem 1rem;
    background-color: #414141;
    border: none;
    color: white;
    border-radius: 0; }
  .contact__button {
    font-family: "Frank Ruhl Libre", serif;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    background-color: #906272;
    border: none;
    color: white;
    cursor: pointer; }
  .contact__image--container {
    width: 40%;
    height: 100%; }
    @media screen and (max-width: 1024px) {
      .contact__image--container {
        width: 0; } }
  .contact__image {
    width: 100%;
    height: 100%;
    object-fit: cover; }
    @media screen and (max-width: 1024px) {
      .contact__image {
        display: none; } }

.footer {
  height: 10vh;
  background-color: #414141;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 0 5rem; }
  @media screen and (max-width: 700px) {
    .footer {
      padding: 0 1rem;
      height: 15vh;
      flex-direction: column; } }
  .footer__title {
    font-size: 1.2rem;
    font-family: "Frank Ruhl Libre", serif;
    font-weight: 500;
    color: white; }
    @media screen and (max-width: 700px) {
      .footer__title {
        margin-bottom: 0.5rem; } }
  .footer__list {
    display: flex;
    align-items: center; }
    @media screen and (max-width: 700px) {
      .footer__list {
        margin-top: 0; } }
  .footer__items {
    margin-right: 1.8rem; }
