.footer {
  min-height: 10vh;
  background-color: #414141;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 0 5rem;
  @include iphone {
    padding: 0 1rem;
    height: 15vh;
    flex-direction: column;
  }

  &__title {
    font-size: 1.2rem;
    font-family: "Frank Ruhl Libre", serif;
    font-weight: 500;
    color: white;
    @include iphone {
      margin-bottom: 0;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    @include iphone {
      margin-top: 0;
    }
  }
  &__items {
    margin-right: 1.8rem;
  }
}
