.header {
  z-index: 2;
  position: relative;
}

.nav {
  height: 10vh;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 5rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  @include iphone {
    flex-direction: column;
    padding: 2rem 5rem;
  }

  &__logo {
    font-family: "Great Vibes", cursive;
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__items {
    margin-right: 1.8rem;
    font-size: 1.2rem;
    font-family: "Frank Ruhl Libre", serif;
    font-weight: 500;
  }
}
